# Ignore data directories
GEOMetaX/data/unparsed_factor_data/
GEOMetaX/data/unparsed_ontology_data/
# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/
myenvapi/
.env

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore logs
logs/
*.log