requests
setuptools
wheel
rdflib
pandas
rapidfuzz
langchain_experimental
langchain_openai
langchain-community
langchain
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-mistralai
langchain-deepseek
python-dotenv